@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <h1 class="display-4">Admin Profile</h1>
    }

    <h1 class="display-4" style=" color:aliceblue">EventPlaner</h1>
        <div>
            <img src="~/images/party_icon.png" class="rounded-circle" height="700" width="700" asp-append-version="true" />
        </div>
    
</div>
